.card {
  width: 50%;
  display: flex;
  margin: 10px auto;
  padding: 10px;
  background-color: #f9ea9a;
  border-radius: 10px;
  text-align: center;
  box-shadow: 1px 1px 3px #f7e898;
  flex-direction: column;
}
